{% extends "base.html" %}

{% block title %}Create new topic{% endblock title %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var TopicButton = $("#topic-button");
        var TopicSum = $("#topic-sum");

        TopicButton.click(function(e) {
            if (TopicSum.val() === "10"){
                TopicButton.hide();
                console.log("juhuhuuu!!!!");
            } else {
                alert("You entered a wrong sum! Try again.");
                e.preventDefault();
            }

        });
    });

</script>
{% endblock scripts %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2 id="add-topic-heading">Create new topic</h2>

             <form method = "post">
                <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" name="title" id="addTitle" required>
                </div>

                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" rows="6" name="content" required></textarea>
                </div>


                 <div class="form-group">
                    <label>What is the sum of 2 and 8?</label>
                    <input type="text" class="form-control" id="topic-sum" required>
                </div>

                <button id="topic-button" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<br>

{% endblock content %}